/* Discover */
#discover-p {
  margin-bottom: $discover-paragraph-margin-bottom;
  font-size: $discover-font-size;
}

/* Stylizacja dla ekranów o szerokości mniejszej niż 576px */
@media (max-width: 575px) {  
  #discover-p {
    font-size: $discover-font-size-mobile;
  }
}