body {
  font-family: $text-font;
  background-color: $main-site-color;
}

.wrapper {
  max-width: $web-size;
  margin: 0 auto;
}

a {
  color: $second-text-color;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  margin-bottom: $li-margin-bottom;
}

.song-container {
  text-align: center;
  
  color: $main-text-color;
  
  .song-text {
    display: flex;
    width: 88%;
    margin: 0 auto;
    justify-content: space-between;

    p {
      font-size: 16px;
      letter-spacing: 2px;
      line-height: 27px;
      color: $second-text-color;
    }
  }
}

header {
  background-image: url('../../images/background.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
        
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      $main-site-color 100%
    );
  }

  .header-wrapper {
    max-width: $header-wrapper-size;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;

    .header-text {
      text-align: center;
    }
  }
}


.nav-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
  margin-bottom: 200px;

  a {
    font-size: $medium-font-size;
    letter-spacing: $small-letter-spacing;
    line-height: $medium-line-height;
    text-transform: uppercase;
    font-weight: $medium-font-weight;
    text-decoration: none;
    
    &:hover {
      cursor: pointer;
      color: $main-text-color;
    }
  }
}

.basic-page-styles {
  text-align: center;
  display: none;

  p {
    color: #ffffff;
  }
}

.active {
  display: block; 
}

.active-nav {
  color: $main-text-color;
}

.green-audio-player {
  margin: 0 auto;
  width: 90%;

  .slider {
    .gap-progress {
      .pin {
        background-color: $second-site-color;
      }
    }
  } 
} 

//footer
footer {
  text-align: center;
  color: $main-text-color;
  padding: $footer-padding;
}

// @media (max-width: 768px) {
//     header {
//        background-repeat: no-repeat;
//        background-position: center;
//     }
// }