/* Global */
body {
  font-family: $text-font;
  background-color: $main-site-color;
}

.wrapper {
  max-width: $web-size;
  margin: 0 auto;
}

a {
  color: $second-text-color;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  margin-bottom: $li-margin-bottom;
}

.basic-page-styles {
  text-align: center;
  display: none;

  p {
    color: $main-text-color;
  }
}

/* Klasa dodawana przy zmianie podstrony */
.active {
  display: block; 
}

/* Klasa dodawana przy nawigacji */
.active-nav {
  color: $main-text-color;
}

/* Style dla utworu na każdej podstronie */
.song-container {
  text-align: center;
  color: $main-text-color;
  
  .song-text {
    display: flex;
    width: 88%;
    margin: 0 auto;
    justify-content: space-between;

    p {
      font-size: $song-text-font-size;
      letter-spacing: $song-text-letter-spacing;
      line-height: $song-text-line-height;
      color: $second-text-color;
    }
  }
}

/* Style dla odtwarzacza audio na każdej podstronie */
.green-audio-player {
  margin: 0 auto;
  width: 90%;

  .slider {
    .gap-progress {
      .pin {
        background-color: $second-site-color;
      }
    }
  } 
}

/* Ekrany od 576px do 767.98px */
@media (max-width: 767px) and (min-width: 576px) {
  .song-container {
    .song-text {
      width: 70%;

      p {
        font-size: $song-text-font-size-sm;
      }
    }
  }

  .green-audio-player {
    width: 70%;
  }
}

/* Stylizacja dla ekranów o szerokości mniejszej niż 576px */
@media (max-width: 575px) {
  .song-container {
    .song-text {
      p {
        font-size: $song-text-font-size-xs;
        letter-spacing: 0;
      }
    }
  } 
}