// Colors
$main-site-color: #131313;
$second-site-color: #cf383e;
$main-text-color: #fff;
$second-text-color: #bfbfbf;

//fonts 
$text-font: "Source Code Pro", monospace;

$font-bold: 900;
$medium-font-weight: 600;

//size;
$header-wrapper-size: 1024px;
$web-size: 750px;

$main-header-size: 200px;
$main-header-letter-spacing: 120px;
$main-header-mobile-size: 70px;
$main-header-mobile-letter-spacing: 30px;

$main-sub-header-size: 36px;
$main-sub-header-letter-spacing: 11px;
$main-sub-header-letter-height: 72px;
$main-sub-header-mobile-size: 70px;
$main-sub-header-mobile-letter-spacing: 30px;

$medium-font-size: 30px;
$small-letter-spacing: 2px;
$medium-line-height: 27px;

//li
$li-margin-bottom: 80px;

//Discover
$discover-header-size: 48px;

//Search
$form-padding: 10px;
$second-form-padding: 20px;
$paragrap-margin: 80px;

//footer
$footer-padding: 50px;