// Colors
$main-site-color: #131313;
$second-site-color: #cf383e;
$main-text-color: #fff;
$second-text-color: #bfbfbf;

//fonts 
$text-font: "Source Code Pro", monospace;

$font-bold: 900;

//size;
$header-wrapper-size: 1024px;
$web-size: 900px;

$main-header-size: 200px;
$main-header-letter-spacing: 120px;
$main-header-mobile-size: 70px;
$main-header-mobile-letter-spacing: 30px;

$main-sub-header-size: 36px;
$main-sub-header-letter-spacing: 11px;
$main-sub-header-letter-height: 72px;
$main-sub-header-mobile-size: 70px;
$main-sub-header-mobile-letter-spacing: 30px;

$nav-font-size: 30px;
$nav-letter-spacing: 2px;
$nav-line-height: 27px;
$nav-font-weight: 600;